@import "tailwindcss";
@import "@nuxt/ui";
html,
body,
#__nuxt,
#__layout {
  height: 100%;
  min-height: 100%;
}

@theme {
  --font-sans: "Montserrat", system-ui, sans-serif;
  /* --font-mono: 'JetBrains Mono', monospace; */
}

@theme static {
  /* Typography */
  --color-neutral: #141414;
  --color-neutral-50: #e5e5e8;
  --color-neutral-100: #e5e5e8;
  --color-neutral-200: #c2c2c6;
  --color-neutral-300: #a0a0a2;
  --color-neutral-400: #7d7d80;
  --color-neutral-500: #5c5c5e;
  --color-neutral-600: #404041;
  --color-neutral-700: #292929;
  --color-neutral-800: #1a1a1a;
  --color-neutral-900: #141414;

  /* Primary */
  --color-primary: #457fb6;
  --color-primary-50: #e8eff6;
  --color-primary-100: #d1dfed;
  --color-primary-200: #a2bfdb;
  --color-primary-300: #749fc8;
  --color-primary-400: #457fb6;
  --color-primary-500: #175fa4;
  --color-primary-600: #124c83;
  --color-primary-700: #0e3962;
  --color-primary-800: #092642;
  --color-primary-900: #051321;

  /* Secondary */
  --color-secondary: #f9316d;
  --color-secondary-50: #fed9d5;
  --color-secondary-100: #feacad;
  --color-secondary-200: #fd838f;
  --color-secondary-300: #fb6382;
  --color-secondary-400: #f9316d;
  --color-secondary-500: #d6236a;
  --color-secondary-600: #b31865;
  --color-secondary-700: #900f5c;
  --color-secondary-800: #770955;
  --color-secondary-900: #5f0743;

  /* Error */
  --color-error: #f42d2d;
  --color-error-50: #fed9d5;
  --color-error-100: #feacad;
  --color-error-200: #fb9580;
  --color-error-300: #f86d60;
  --color-error-400: #f42d2d;
  --color-error-500: #d12030;
  --color-error-600: #af1631;
  --color-error-700: #8d0e2f;
  --color-error-800: #75082e;
  --color-error-900: #5f0726;

  /* Success */
  --color-success: #1cb854;
  --color-success-50: #d2fbd0;
  --color-success-100: #a3f7a9;
  --color-success-200: #72e985;
  --color-success-300: #4dd470;
  --color-success-400: #1cb854;
  --color-success-500: #149e53;
  --color-success-600: #0e8450;
  --color-success-700: #086a49;
  --color-success-800: #055843;
  --color-success-900: #044837;

  /* Warning */
  --color-warning: #ffa02e;
  --color-warning-50: #fff3d5;
  --color-warning-100: #ffe4ab;
  --color-warning-200: #ffd181;
  --color-warning-300: #ffbe62;
  --color-warning-400: #ffa02e;
  --color-warning-500: #db7e21;
  --color-warning-600: #b75f17;
  --color-warning-700: #93450e;
  --color-warning-800: #7a3108;
  --color-warning-900: #602706;
}
